@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    /*font-family: ;*/
}
body{
    font-family: 'Noto Sans', sans-serif;
    color: #011C41;
}
/* ----------------------- BARRA DE NAVEGACION (LOGO Y LINKS) ----------------------- */
header {
    background-color: #f8f9fa;
}
.logo-img {
    margin-top: -28px;
}

.navbar{
    z-index: 2;
}
.navbar-brand{
    margin-top: 13px;
}

.navbar-light .navbar-toggler {
    background-color: white;
    z-index: 10;
}

ul.nav a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 !important;
    color: white;
}

.logo {
    margin-top: 100px;
    width: 80% !important;
}

.justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}

/*BANNER*/
.inicio{
    background-image: url('https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Presupuesto-2022/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.video-banner {

    width: 80%;
}
/*ACORDEONES*/
button.acordion {
    background-color: #99EAEA;
    color: #011C41;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    display: flex;
    font-size: 20px;
    transition: 1s;
    font-weight: 700;
    padding: 10px 0;
    position: relative;
    border-radius: 20px;
}

button.acordion:after {
    font-family: FontAwesome;
    content: '\002B';
    color: #011C41;
    font-weight: bold;
    position: absolute;
    right: 5px;
    margin: 0 5px 15px 0;
    padding: 0px 14px;
}

button.acordion.active:after {
    font-family: FontAwesome;
    content: "\2212";
    font-weight: bold;
    transition: all .5s  ease;
}

div.panel {
    padding: 0 18px;
    max-height: 0;
    background-color: #F7F7FB;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 16px;
    width: 100%;
    margin: .5rem 0;
}

div.panel p {
    font-family: 'Open Sans';
    color: #132256;
}
.panel-child {
    padding: 20px;
    width: 100%;
}
h3 {
    font-size: 1.325rem;
}


/*----------PRINCIPIOS------------*/
.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 10% calc(80% - 80px);
    place-self: center;
}
/* ----------------------- FOOTER ----------------------- */
.footer {
    bottom: 0;
    width: 100%;
    line-height: 1.5rem;
    background-color: #001c41;
    color: #ffffff;
    position: relative;
}
.border-bottom {
    border-bottom: 1px solid #192e85 !important;
}
.separa-logo {
    display: inline-block;
}
.gob-txt{
    line-height: 1.2rem;
    text-align: right;
}
.redes-sociales{
    display:flex;
    justify-content:stretch;
    justify-content: center;
    border-left: 2px solid white;
}
.socialmedia{
    display: flex;
    text-align: left;
    flex-direction: row;
}
footer a, footer a:visited, footer a:active{
    color: #ffffff;
    font-weight: 400;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
/* mantiene el logo de gob en el bottom de la pagina */
.vertical-align-bottom{
    position: absolute;
    bottom: 0;
}
/* ----------------------- REDES SOCIALES ----------------------- */
.fa-instagram, .fa-twitter, .fa-facebook-f, .fa-linkedin {
    padding: 5px 8px;
    font-size: 1.2rem;
    display:flex;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
    color: #FFFFFF;
}
.col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
    float: left;
}
ul li {
    padding-bottom: 15px;
}
.separador {
    color: #0F69C4;
}
.hashtag p {
    color: white !important;
    font-size: 24px ;
    width: 400px ;
    margin: auto;
    padding: 30px 10px 30px 10px;
    transition: all 0.3s ease-in-out;
    border-radius: 80px;
    background-color: #011C41;
}
.hashtag p:hover {
    background-color: #192e85 ;
  
    transition: all 0.3s ease-in-out;
}
a:hover{
    text-decoration: none;
}
/*------------------MEDIA QUERYS--------------------*/
@media (max-width: 992px) {
    .logo {
        height: 30px;
        margin-top: -35px;
    }
        .nav-pills {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        button.acordion {
            font-size: 20px;
        }
}

@media (max-width: 760px){
    .hero {
        height: 400px;
    }
    .separa-logo {
        display: grid;
        grid-template-rows: 45px 46px;
        row-gap: 20px;
    }
    .gob-txt{
        text-align: left;
    }
    button.acordion{
        padding: 8px 0 ;
    }
    button.acordion:after {
        padding: 10;
    }
    h3 {
        font-size: 1rem;
        padding-left: 20px;
    }
    .hashtag p{
        width: 300px;
        text-align: center;
        font-size: 16px !important;
    }
    .grid-container {
        grid-template-columns: 18% 83%;
    }
    .grid-container img{
        margin: 10px 1px;
    }
}